.leftSidePart{
    /* position:fixed; */
    width: 15%;
    height: 100%;
    border: 1px solid #e6e0e0;
}

/* .logoPart{
    width:100px;
    height: 30px;
    border: 1px solid ; 
    margin-left: 25px;
} */

.logoImg{
  
        width: 196px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
}
.navLinkPart{
    display: flex;
    flex-direction: column;
    /* margin-top: 40px; */
}
.navLink{
    display: flex;
    /* border: 1px solid; */
    border-radius: 5px;
    height: 30px;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 5px;
    &:hover{
        background-color: #ededed;
        cursor: pointer;
    }
}
.navName{
    font-weight: 400;
    display: contents;
    color:#000;
}
.no-underline {
    text-decoration: none !important; /* Use !important to override any other styles */
    color: black !important;
}
.threads{
    width: 30px;
    border-radius: 50%;
    margin-right: 20px;
    height: 30px;
    font-size: 30px;
    margin: 0 20px 0 0;
}
.profileImg{
    width:30px;
    border-radius: 50%;
    margin-right: 20px;
    height:30px;
}
.belowPart{
    margin-top: 20px;
}

.insta_reel{
    width: 1em;
    height: 1em;
    display: inline-block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    font-size: 30px;
    margin: 0 20px 0 0;  
}
.insta_message{
    width: 1em;
    height: 1em;
    display: inline-block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    font-size: 30px;
    margin: 0 20px 0 0; 
}
.threads{
    width: 1em;
    height: 1em;
    display: inline-block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    font-size: 30px;
    margin: 0 20px 0 0;  
}
.otrg_bx .paddnop {
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 17px;
    border-bottom: 1px solid #e8e8e8;
}
.otrg_bx .paddnop:hover {
    background-color: #dddddd;
}
.Sttng_optn {
    margin-bottom: 5px !important;
}
.Sttng_optn svg {
    margin-right: 5px;
}
.rpt-optn {
    margin-bottom: 5px !important;
}
.rpt-optn svg {
    margin-right: 5px;
}
.logt_optn {
    margin-bottom: 5px !important;
}

